<div class='card'> 
    <div class='card-header'>Order form</div>
    <div class='card-body'>

        <div class='row'>
            <div class='col-md-8'>
                <div class='row'>
                    <div class='col-md-4'>Site Incharge</div>
                    <div class='col-md-8'>
                        <input type="text" [(ngModel)]='order.SiteIncharge'  />
                    </div>
                </div>
            </div>  
        </div>
        <div class='row'>
            <div class='col-md-8'>
                <div class='row'>
                    <div class='col-md-4'>Order Id</div>
                    <div class='col-md-8'>
                        <input type="text" [(ngModel)]='order.OrderId' />
                    </div>
                </div>
            </div>
        </div>
      
        <div class='row'>
            <div class='col-md-8'>
                <div class='row'>
                    <div class='col-md-4'>Order Date</div>
                    <div class='col-md-8'>
                        <input type="text" [(ngModel)]='order.OrderDate' />
                    </div>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='col-md-8'>
                <div class='row'>
                    <div class='col-md-4'>Material Name</div>
                    <div class='col-md-8'>
                        <input type="text" [(ngModel)]='order.MaterialName'/>
                    </div>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='col-md-8'>
                <div class='row'>
                    <div class='col-md-4'>Quantity</div>
                    <div class='col-md-8'>
                        <input type="text" [(ngModel)] = 'order.MaterialQuantity' />
                    </div>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='col-md-8'>
                <div class='row'>
                    <div class='col-md-4'>Unit</div>
                    <div class='col-md-8'>
                        <input type="text" [(ngModel)] = 'order.Unit' />
                    </div>
                </div>
            </div>
        </div>


    </div>   
    <div class='card-footer'>
                        <!-- (click)='onSubmit()' -->
        <button class='btn btn-outline-secondary'
                style='width:80px'>
        <i class='fa fa-chevron-left'>Submit</i>    
        </button>
        <a routerLink="/orderList">Back</a>
    </div>
</div>
