<div class='card'>
    <div class='card-header'>
        {{title}}
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Filter By: </div>
            <div class='col-md-4'>
                <input type='input' [(ngModel)]='listFilter'>
            </div>
        </div>
        <div class='row' *ngIf='listFilter'>
            <div class='col-md-6'>
                <h4> Filtered By : {{listFilter}}</h4>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table' >
                <thead>
                    <tr>
                        <!-- <th>
                            <button class='btn btn-primary' (click)='toggleImage()'>
                                {{showImage ? 'Hide' : 'Show' }} Image
                            </button>
                        </th> -->
                        <th>Order Id</th>
                        <th>Orde Date</th>
                        <th>Site Incharge</th>
                        <th>Materials</th>
                        <th>Quantitiy</th>
                        <th>Unit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let order of filteredOrders'>
                        <!-- <td>
                            <img *ngIf='showImage'
                                 [src]='order.imageUrl'
                                 [title]='order.orderName'
                                 [style.width.px]='imageWidth'
                                 [style.margin.px]='imageMargin'>
                        </td> -->
                        <td>
                            <a routerLink="/order">
                            {{order.OrderId}} </a>
                        </td>
                        <td>{{order.OrderDate}}</td>
                        <td>{{order.SiteIncharge}}</td>
                        <td>{{order.MaterialName}}</td>
                        <td>{{order.MaterialQuantity}}</td>
                        <td>{{order.Unit}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <button name="addOrder" (click)='addOrder()'>Add Order</button>
    <button name="updateOrder" (click)='updateOrder()'>Update Order</button>
    <button name="deleteOrder" (click)='deleteOrder()'>Delete Order</button>  
</div>
<!-- <div *ngIf='errorMessage' class='alert alert-danger'>
    Error: {{ errorMessage }}
</div> -->